body, h1, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

}

header {
    background-color: #333;
    color: #ae1212;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color:  #ae1212;
    text-align: right; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #ae1212;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    background-color: #333;
    color:  #ae1212;
    padding: 10px 0;
    text-align: center;
}
