body, h1, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #7a6b6b;

}

header {
    background-color: #333;
    color: #ae1212;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color:  #ae1212;
    text-align: right; 
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #dd9595;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.large-image {
    max-width: 70%;
    height: 50%;
    text-align: center;
}

/* Style for category sections */
.category {
    background-color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
    flex-direction: row;
}

.category h4 {
    color: #0000;
}

/* Style for the "Top Things to Do" section */
.category img {
    max-width:20%;
    padding: 20px 20px;
}
h3 {
    margin-top: 40px;
}

/* Additional styling */


p {
    color: floralwhite;
    font-size: large;
    font-style:inherit;
}

/* Featured Destinations Styles */
.featured-destinations {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

.destination {
    width: 100%; /* Full width of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
}

.destination img {
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Add this code to style the info box */
.info-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.info-box p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;
}

/* css for "Sign In" page */
.sign-in-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-in-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.sign-in-container h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.sign-in-container form {
    display: flex;
    flex-direction: column;
}

.sign-in-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.sign-in-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.sign-in-container button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.sign-in-container button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color:  #ae1212;
    padding: 10px 0;
    text-align: center;
}
