body, h1, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #7a6b6b;

}

header {
    background-color: #333;
    color: #ae1212;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color:  #ae1212;
    text-align: right; 
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #dd9595;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.large-image {
    max-width: 100%;
    height: 50%;
}

/* Style for category sections */
.category {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
}

.category h4 {
    color: #0000;
}

/* Style for the "Top Things to Do" section */
.category img {
    max-width:20%;
    padding: 20px 20px;
}
h3 {
    margin-top: 40px;
}

/* Additional styling */


p {
    color: #0000;
    font-size: large;
    font-style:inherit;
}

/* Featured Destinations Styles */
.featured-destinations {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

.destination {
    width: 100%; /* Full width of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
}

.destination img {
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color:  #ae1212;
    padding: 10px 0;
    text-align: center;
}
